<h1>User create page</h1>

<form action="/user/create" method="POST">
    <label for="user">User</label>
    <input name="username" id="user" type="text">
    <input type="submit" value="Submit">
</form>

<hr>
<a href="/user/list">back to User list</a>